@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Regular.otf') format('otf')
  }
  body{
    font-family: 'Metropolis', sans-serif;
  }
.nav-link{
    height: 100%;
}
.nav-link.active{
    border-bottom: 0.1rem black solid;
}
.px-10vw{
    padding: 0 10vw;
}
.mx-10vw{
    margin: 0 10vw;
}
.bg-gray1{
    background-color: #F0F1F1;
}
