
  .col-md-6{
    margin-top:30px;
}

.btn-primary {
  width: 100%;
  background-color: #007BFF;  
  border: none;               
  color: white;              
  padding: 10px 20px;         
  text-align: center;         
  text-decoration: none;      
  display: inline-block;     
  font-size: 16px;            
  border-radius: 100px;         
  cursor: pointer;            
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}


.product-details {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  font-family: Arial, sans-serif; 
}

.product-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.product-title {
  font-size: 24px; 
  margin-left: 10px;
}

.product-info {
  font-size: 16px;
  color: #666; 
  margin-bottom:0px;
  margin-top:20px;
}

.product-price {
  font-size: 18px; 
  color: #666; 
}

.form-control {
  background-color: #F0F1F1;
}

.form-select {
  background-color: #F0F1F1;
}